@use './app/styles/docs-page';
@use './app/styles/docs-nav';
@use './app/styles/docs-code-theme';

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow: visible;
}

body {
	background: var(--plim-color-background);
	color: var(--plim-color-text);
	font-family: var(--plim-font-family);
}

app-root {
	--docs-header-primary-height: 4rem;
	--docs-header-tabs-height: 1.125rem;
	--plim-header-height: calc(
		var(--docs-header-primary-height) + var(--docs-header-tabs-height) + var(--plim-space-1)
	);
}

.docs-app-header .plim-header__bar {
	align-items: start;
}

.docs-app-header .plim-header__start {
	align-items: center;
	height: var(--docs-header-primary-height);
}
