@use './app/styles/docs-page';

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow: visible;
}

body {
	background: var(--plim-color-background);
	color: var(--plim-color-text);
	font-family: var(--plim-font-family);
}
